{%extends 'base1.html'%} {%block start%}{%load static%}
<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->


    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                       
                        <h1 class="mb-0">About the Website Developers</h1><br/>
                        <h5 class="fw-bold text-primary text-uppercase">Pramod Joshi</h5>
                    </div>
                    <p class="mb-4">Pramod Joshi is a 4th year in B.Tech computer science branch student. He has good experience in frontend development, google cloud plateform and data analysis. As apart of college activities he won prizes from google cloud and salesforce. He is also a open source contrubuter.</p>
                    <div class="row g-0 mb-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>*</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>*</h5>
                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>*</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>*</h5>
                        </div>
                    </div>
                   
                    <a href="https://linktr.ee/pramod_joshi" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Connect with Pramod</a>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="team-item bg-light rounded overflow-hidden"> 
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" data-wow-delay="0.9s" src="{% static 'img/pramod.png'%}" style="object-fit: cover;">
                        <div class="team-social">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <h4 class="text-primary">Pramod Joshi </h4>
                        <p class="text-uppercase m-0">Front-End Developer</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
      <!-- About Start -->
      <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                    
                        <h5 class="fw-bold text-primary text-uppercase">Sajal Patwal</h5>
                    </div>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet</p>
                    <div class="row g-0 mb-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>*</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>*</h5>
                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>*</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>*</h5>
                        </div>
                    </div>
                   
                    <a href="quote.html" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Connect with Sajal</a>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="team-item bg-light rounded overflow-hidden"> 
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" data-wow-delay="0.9s" src="{% static 'img/pramod.png'%}" style="object-fit: cover;">
                        <div class="team-social">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <h4 class="text-primary">Sajal Patwal</h4>
                        <p class="text-uppercase m-0">Back-End Developer</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->




{%endblock%}