{%extends 'base1.html'%} {%block start%} {%load static%}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<br>
<center>
    <h1>Important Updates !</h1>
</center>

<br>
<style>
    table {
        width: 400px;
        border-collapse: collapse;
    }
    
    th,
    td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
        width: auto;
        /* This makes the columns auto-adjustable */
    }
    
    th {
        background-color: #dbd9d9;
    }
    
    .table-container {
        display: flex;
        align-items: center;
    }
    
    .notice-table {
        border: 1px solid #ccc;
        margin-right: 20px;
        /* Add some spacing between table and image */
    }
    
    .image-container {
        flex: 1;
        /* Allow the image container to expand and fill the available space */
        text-align: right;
        /* Align the images to the right */
    }
    
    .image {
        max-width: px;
        /* Set the maximum width for the images */
        height: auto;
        /* Maintain aspect ratio */
    }
</style>

<table>
    <tr>
        <th>GEHU-NOTICE</th>
    </tr>
    {% for file in file %}
    <tr>
        <td><a href="{{ file.file.url }}" target="_blank"><b>{{file.name}}</b></a></td>
    </tr>
    {% endfor %}

</table>

<!-- <div class="image-container">
    {% for img in img %}
    <img src="{{img.file.url}}" alt="Your Image"> {% endfor %}
</div> -->

<br/> {%endblock%}