{%extends 'base1.html'%} {%load static%} {%block start%}

   

 
<!-- Blog Start -->

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <!-- Blog list Start -->
            <div class="col-lg-8">
                <div class="row g-5">
                     <h2> make 3 table with 2 columns for title and link.
                        <br/>  table 1- Interships/job notice
                        <br/>table 2 - fee related notice
                        <br/> table 3 - events notices
                     </h2>
                </div>
            </div>
            <!-- Blog list End -->

            <!-- Sidebar Start -->
            <div class="col-lg-4">
                  

                <!-- Recent Post Start -->
                <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    <div class="section-title section-title-sm position-relative pb-3 mb-4">
                        <h3 class="mb-0">Recent News</h3>
                    </div>
                    <!-- partial:index.partial.html -->
                    <div class="container">
                        <section class="background">
                        <div class="content-wrapper">
                           
                        </div>
                        </section>
                        <section class="background">
                        <div class="content-wrapper">
                            
                        </div>
                        </section>
                        <section class="background">
                        <div class="content-wrapper">
                            <p class="content-title">Etiam consequat lectus.</p>
                            <p class="content-subtitle">Nullam tristique urna sed tellus ornare congue. Etiam vitae erat at nibh aliquam dapibus.</p>
                        </div>
                        </section>
                    </div>
                    
  
                </div>
                <!-- Recent Post End -->
               
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
</div>
{%endblock%}